body {
  background-size: cover;
  background-image: url("pexels-pixabay-247676.jpg");
  background-position: center;
  background-size: 100%;
  z-index: 0;
  margin: 15px;
}

.page {
  display: flex;
  justify-content: center;
}
.box {
  height: 50px;
  padding: 16px;
}
::placeholder {
  background-color: #5c5c5c;
  color: #fff;
  height: 50px;
  border: 0;
  border-radius: 4px;
  border-bottom-color: red;
  padding: 16px 20px;
}
.signInBox {
  background-color: black;
  color: white;
  padding: 2%;
  opacity: 0.8;
  width: 340px;
  height: 340px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  border-radius: 4px;
}
.signInButton {
  background-color: red;
  color: white;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}
.lastline {
  color: #b3b3b3;
}
.link:hover {
  text-decoration: underline;
  color: red;
}

h1 {
  color: red;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
h2 {
  font-weight: 500;
  font-size: xx-large;
  font-family: Arial, Helvetica, sans-serif;
}
